body{
    margin-left:100px;
    margin-right:100px;
    min-width: fit-content;
    background-color: rgb(240, 238, 234);
   
}
.main{
    background-color: rgb(240, 238, 234);
    border-radius: 18px;
    margin:20px;
   
}
.boxes{
    margin-left:50px;
}

.heading h1{
     margin:40px;
     align-items: center;
     font-size: 50px;
     text-align:center;
}

 

.content{
   
    display: flex;
    flex-direction: row;
}
.image img{

    height:500px;
    width:500px;
}

.box1{
    
    border: 2px solid rgb(238, 231, 231);
    box-shadow: rgba(53, 53, 57, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin:10px;
    display: flex;
    flex-direction: row;
    height: 120px;
    width:560px
   
}
.arrow img{

  color:rgb(133, 133, 133);

   height: 50px;
   padding-top: 15px;
}

.box1 img{
    margin:20px
}
.box1:hover{
    box-shadow: rgb(216, 199, 166)3px 6px 9px 0px;
}
.box-content{
    align-items: justify;
    margin-left:30px;
   
}
.box-content p{
    margin-right:40px;
}



